.nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.bgc{
  background-color: red;
}


.cardCourseS{
  height: 300px;
  width: auto;
  display: flex;
  flex-direction: column;
  
  
}

.courseReview{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.instructorName{
  font-size: 15px;
}

.cardPic{
  height: 100px;
  width: auto;  
}

.borderr{
  border: red, 5px, solid;
}

.img{
  background-color: greenyellow;
  height: 50px; width: 150px;
}


















@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
